<section id="memes" class="container">
  <form onsubmit="event.preventDefault();"> <!-- Prevent form submission -->
    <input type="text" id="memeInput" placeholder="Search for memes.." title="Type in a name"> 
    <button onclick="search()">Search</button>
  </form>


  <table class="table" id="memeTable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <% if (user) { %>
          <th scope="col">Details</th>
          <% } %>
      </tr>
    </thead>
    <tbody>
      <!-- Creating a table for all memes -->
    <% memes.forEach(function(meme){ %>
      <tr>
        <td><%= meme.name %></td>
        <td><img id="image" src="<%= meme.url %>" alt="Meme <%= meme.name %> picture"></td>
        <td>

          <!-- Only logged in users can see the details! -->
          <% if (user) { %>
           <td>
            <button onclick="updateMeme('<%= meme.id %>', this)" data-meme-id="<%= meme.id %>">Details</button>
          </td>
        </tr>
        <% } %>
    <% }); %>
    </tbody>
  </table>
  
</section>

