<section id="memes" class="container">
  <table class="table" id="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <% if (user) { %>
          <th scope="col">Details</th>
          <% } %>
      </tr>
    </thead>
    <tbody>
    <% memes.forEach(function(meme){ %>
      <tr>
        <th scope="row"><%= meme.name %></th>
        <td><img id="image" src="<%= meme.url %>" alt="Meme <%= meme.name %> picture"></td>
        <td>
          <% if (user) { %>
           <td>
            <button onclick="updateMeme('<%= meme.id %>', this)" data-meme-id="<%= meme.id %>">Details</button>
          </td>
        </tr>
        <% } %>
    <% }); %>
    </tbody>
  </table>
  
</section>
