<section id="meme" class="container">
    <!-- Showing detail of specific meme -->
    
    <img id="image2" src="<%= meme.url %>" alt="Meme <%= meme.name %> picture">
    <p> <b> ID:</b> <%= meme.id %></p>
    <p> <b>Name:</b> <%= meme.name %></p>
    <p> <b>URL:</b> <%= meme.url %></p>
    <p> <b>Dimensions:</b> <%= meme.width%> x <%= meme.height %></p>
</section>
 